// Here you can add other styles
.card,
.dropdown-menu,
.footer,
.header,
.sidebar {
  box-shadow: rgb(50 50 93 / 2%) 0 2px 5px -1px, rgb(0 0 0 / 5%) 0 1px 3px -1px;
}

.sidebar-overlaid {
  box-shadow: rgb(50 50 93 / 2%) 0 2px 5px -1px, rgb(0 0 0 / 5%) 0 1px 3px -1px, 0 5px 6px -3px rgb(0 0 0 / 25%);
}

.card-header {
  border-bottom: 1px solid var(--cui-card-border-color);
}

.footer,
.header {
  border: 0;
}

.sidebar-brand {
  justify-content: space-between;
  padding: 0 ($sidebar-nav-link-padding-x * .5) 0 ($sidebar-nav-link-padding-x * .75);
}

.sidebar-toggler {
  flex: 0 0 2rem;
  background-color: transparent;

  &::before {
    width: 2rem;
  }

  &:hover {
    background-color: transparent;
  }
}

.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-brand {
    justify-content: center;
    padding: 0;
  }
  .sidebar-toggler {
    display: none;
  }
}
.header {
  @media only screen and (max-width: 600px) {
    background-color: #222635;
    button {
      color: #FFF;
    }
  }
}

.button-magna-color {
  background-color: #02f4b8;
  color: #222635;
  &:hover {
    background-color: #02f4b8;
  }
}

// .aside-right-custom::-webkit-scrollbar  {
//   overflow-y: scroll;
//   scrollbar-color: rebeccapurple green;
// }


.aside-right-custom::-webkit-scrollbar {
  width: 12px;
}

.aside-right-custom::-webkit-scrollbar-track {
  background: #25293a;
}

.aside-right-custom::-webkit-scrollbar-thumb {
  background-color: #02f4b8;
  border-radius: 20px;
  border: 3px solid #25293a;
}

.border-start-magna {
  border-left-color: #02f4b8!important;
}



/*************************************************************************************************************/

.ql-editor.ql-blank::before { 
  color: #FFF !important;
}

.ql-formats {
  background-color: #FFF !important;
}

.text_dark {
  color: #282933;
}

.text-bold {
  font-weight: bold;
  font-size: larger;
}

.badge_custom {
  padding: 5px;
  font-size: 11px;
}

.img-100-size {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.title-course-card {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: underline;
    color: #03f3bb;
  }
}

.react-daterange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid gray;
  padding: 4px;
}

.react-daterange-picker__inputGroup__input {
  border: 1px solid #03f3bb;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  color: #181924;
  background-color: #fff;
  &:focus {
    border: 1px solid #03f3bb;
  }
}

.react-daterange-picker__range-divider {
  color: #181924;
  margin-right: 8px;
  margin-left: 8px;
}

.react-daterange-picker__clear-button, .react-daterange-picker__button {
  svg {
    stroke: #03f3bb !important;
  }
}

.react-date-picker__inputGroup__divider, .react-daterange-picker__inputGroup__leadingZero{
  color: #181924;
}

// DATETIME PICKER

.react-datetime-picker__inputGroup__leadingZero {
  color: #181924;
}

.react-datetime-picker__inputGroup__input {
  color: #181924;
}

.react-datetime-picker {
  width: 100%;
}

.react-datetime-picker__inputGroup {
  padding: 6px 2px !important;
}

.react-datetime-picker__inputGroup__amPm{
  background-color: #03f3bb !important;
}

.react-datetime-picker__clock {
  background-color: #03f3bb !important;
}

.react-clock__mark__body {
  background-color: #03f3bb !important;
}

.react-clock__hand__body {
  background-color: #03f3bb !important;
}

.react-clock__face__inner {
  background-color: #FFF !important;
}

.react-datetime-picker__button {
  svg {
    stroke: #181924 !important;
  }
}

.ytp-title-text {
  display: none;
}

.margin_negative_stats_course {
  margin-bottom: -30px;
  color:#181924 !important;
}

.text-justify {
  text-align: justify;
}

.card-box-shadow {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.bg-test {
  background-color: #03f3bb !important;
}